<h1>Listando contas</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Autor</th>
	</tr>

	<% @accounts.each do |account| %>
		<tr>
			<td><%= account.title %></td>
			<td><%= account.author %></td>
			<td><%= link_to 'Destroy', account_path(account),
					method: :delete,
					data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Cadastrar conta', new_account_path %>